#top
{
	height : 10px;
	width : auto;
	background-color : black;
}

#first_row
{
	margin-top : 10px;
}

#S_row
{
	text-align : center;
	text-decoration : underline;
}

#document_1
{
	color : Red;
}

.img1
{
	margin : 20px 0px 20px 100px;
}

#bottom
{
	height : 30vh;
	width : auto;
	background-color : black;
	color : white;
	text-align : center;
}

.bh
{
	text-align : center;
	color : black;
}

.bh_1
{
	text-align : center;
	color : white;
}

.questions
{
	font-size : 20px;
}

.content
{
	font-size : 20px;
}

h4
{
	color: black;
	text-decoration : underline;
	text-align : center;
}

#logo
{
	margin-left : 5px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
